<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="col">
      <div class="row banner accent-bg shadow">
        <div class="margin-auto">
          <!-- logo -->
          <div class="col">
            <h1>Title</h1>
            <h2>Subtitle</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="col">
          {% for subsection in section.subsections %}
          <a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
