<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO: title, stylesheet(s), meta info -->
  </head>
  <body>
    <div class="col">
      <div class="row">
        <!-- logo -->
        <div class="col">
          <!-- title -->
          <!-- subtitle -->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- your profile -->
        </div>
        <div class="col">
          <!-- friends' activity -->
        </div>
      </div>
    </div>
  </body>
</html>
